{% extends "base.html" %}

{% block about_content %}
<div class="page-content jumbotron">
<h1 id='header'>About</h1>
<div class="pargraph">
  <p>Hello world, my name is Ethan(aka The Code Wizard), and this is my blog.
  Before I discuss why I made this blog, I will tell you a little about me. I am a teenage web developer who goes to Robinson secondary school.
  I will be going into my junior year at the time of writing. I have been coding for almost 3 years now, and I am a game dev, full-stack web dev. I can also code in C#, Python, HTML, and CSS.
  Now that you know a little about me, I will tell you why I made this blog. The first reason is to keep me accountable. So I will try to post at least once a week.
  Each post will be an update on a project I am working on. The second reason I made this blog is for it to serve as my personal portfolio. I will also be adding to this blog as I feel like it.
  I hope to add forums and places for fellow devs to share code. I hope you enjoy this blog. </p>
</div>
</div>
{% endblock %}
